@import url('https://fonts.googleapis.com/css?family=Wallpoet');
     

video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;

}

#logo-container {
    border-style: solid;
    border-width: 1em;
    color: #ffffff;
    width: 20em;
    height: 20em;
    position: absolute;
  top: 35%;
  left: 50%;
    margin: -70px 0 0 -170px;
}

#logo-initials h2{
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Wallpoet', cursive;
  font-size: 10em;
}

.top-bar {
  background-color: #ffffff;
}

.section-two {
  max-width: 100%;
  position: relative;
  top: 900px;
  padding: 50px;
  font-size: 25px;
  background-color: #ffffff;
  color: #000000;
  opacity: .8
}

.section-two span:first-child { 
  color: purple;
  font-weight: bold;
}

.section-two span:last-child { 
  color: orange;
  font-weight: bold;
}

.section-two ul {
  text-align: center;
  list-style: none;
}

.section-two p:last-child {
  /*text-align*/
}

.section-three {
  max-width: 100%;
  position: relative;
  top: 900px;
  font-size: 50px;
  background-color: #55676A;
  color: #ffffff;
}

/